/* Write your global styles here, in PostCSS syntax */
@tailwind base;
@tailwind components;
@tailwind utilities;


.markdown {
    @apply leading-relaxed text-base;
}

/* Headers */
.markdown h1 {
  @apply text-3xl my-6;
  counter-reset: counter;
}

.markdown h2 {
  @apply text-2xl my-4;
  counter-reset: sub-counter;
}

.markdown h2:before {
  counter-increment: counter;
  content: counter(counter)". ";
}

.markdown h3 {
  @apply text-xl my-2;
}

.markdown h3:before {
  counter-increment: sub-counter;
  content: counter(counter)"."counter(sub-counter)". ";
}

.markdown h4,
.markdown h5,
.markdown h6 {
  @apply text-lg my-2 ;
}

/* Links */
.markdown a {
  @apply text-blue-600;
}
.markdown a:hover {
  @apply underline;
}

/* Paragraph */
.markdown p {
  @apply mb-4 text-justify;
}

/* Lists */
.markdown ul,
.markdown ol {
  @apply mb-4 ml-8;
}
.markdown li > p,
.markdown li > ul,
.markdown li > ol {
  @apply mb-0;
}
.markdown ol {
  @apply list-decimal;
}
.markdown ul {
  @apply list-disc;
}

/* Blockquotes */
.markdown blockquote {
  @apply p-2 mx-2 my-2 bg-gray-100 mb-4 border-l-4 border-gray-400  rounded-r-lg;
}
.markdown blockquote > p {
  @apply mb-0;
}

/* Images */
.markdown img {
  @apply shadow-lg;
}

/* Code */
.markdown :not(pre) > code {
  @apply bg-indigo-50 font-mono text-gray-600 rounded-sm;
}

/* Pre */
.markdown pre {
  @apply mx-2;
}